<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan base-package="com.cdweb.controller" />
	<context:component-scan base-package="com.cdweb.dao" />
	<context:component-scan base-package="com.cdweb.entity" />
	<context:component-scan base-package="com.cdweb.service" />
	<context:component-scan base-package="com.cdweb.imp" />
		<context:component-scan base-package="com.cdweb.authentication" />
	<mvc:annotation-driven />
	<mvc:resources location="/resources/" mapping="/resources/**/" />
	<mvc:annotation-driven enable-matrix-variables="true" />
<mvc:cors>

	<mvc:mapping path="/**"
		allowed-origins="http://localhost:4200/**"
		allowed-headers="authorization, content-type, xsrf-token, Cache-Control,x-auth-token,x-requested-with"
		allowed-methods="GET, POST, PUT, DELETE, OPTIONS"
		allow-credentials="true"/>



</mvc:cors>
	<import resource="classpath:IoC.xml" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>




</beans>
