<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- <http pattern="/admin/**"> <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" 
		/> <form-login login-page="/loginAdmin" login-processing-url="/admin/j_spring_security_login" 
		default-target-url="/admin/admin" authentication-failure-url="/loginAdmin?message=error" 
		username-parameter="username" password-parameter="password" /> <logout logout-url="/admin/j_spring_security_logout" 
		logout-success-url="/loginAdmin?message=logout" delete-cookies="JSESSIONID" 
		/> </http> <http pattern="/hr/**"> <intercept-url pattern="/hr/**" access="hasRole('ROLE_HR')" 
		/> <form-login login-page="/loginHR" login-processing-url="/hr/j_spring_security_login" 
		default-target-url="/hr/hr" authentication-failure-url="/loginHR?message=error" 
		username-parameter="username" password-parameter="password" /> <logout logout-url="/hr/j_spring_security_logout" 
		logout-success-url="/loginHR?message=logout" delete-cookies="JSESSIONID" 
		/> </http> -->

	<!-- <http> <intercept-url pattern="/interviewer**" access="hasRole('ROLE_INTERVIEWER')" 
		/> <form-login login-page="/loginInterviewer" login-processing-url="/j_spring_security_login" 
		default-target-url="/interviewer" authentication-failure-url="/loginInterviewer?message=error" 
		username-parameter="username" password-parameter="password" /> <logout logout-url="/j_spring_security_logout" 
		logout-success-url="/loginInterviewer?message=logout" delete-cookies="JSESSIONID" 
		/> </http> -->

	<beans:bean id="myBasicAuthenticationEntryPoint"
		class="com.cdweb.authentication.MyBasicAuthenticationEntryPoint"></beans:bean>


	<http use-expressions="true">
		<intercept-url pattern="/" access="isAuthenticated()" />
		<intercept-url pattern="/vacancys" access="hasRole('ROLE_HR')" />
		<intercept-url pattern="/addVacancy"
			access="permitAll()" />



		<!-- <form-login login-page="/login" login-processing-url="/j_spring_security_login" 
			default-target-url="/vacancy" authentication-failure-url="/login?message=error" 
			username-parameter="username" password-parameter="password" /> <logout logout-url="/j_spring_security_logout" 
			logout-success-url="/login?message=logout" delete-cookies="JSESSIONID" /> -->
		<http-basic
			entry-point-ref="myBasicAuthenticationEntryPoint" />
		<cors />
		<csrf disabled="true" />
		<headers>
        <header name="X-Custom-Security-Header" value="header-value"/>
    </headers>
	</http>
	 

	<beans:bean id="customAuthenticationProvider"
		class="com.cdweb.authentication.CustomAuthenticationProvider"></beans:bean>
	<!-- <beans:bean id="myUserDetailsService" class="com.cdweb.service.MyUserDetailsService"></beans:bean> -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider
			ref="customAuthenticationProvider">
			<!-- <password-encoder hash="bcrypt"/> -->
		</authentication-provider>
	</authentication-manager>
</beans:beans>
